body {
    margin: 0;
    background-color: #502AAC;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px
}

#container {
    background: #AAAAFF;
    margin: 0 auto 0 220px;
    padding: 15px;
    height: auto;
}

#navbar {
    width: 100%;
    position: fixed;
    color: white;
}

#vote {
    background: #502AAC;
    height: 50px;
    padding: 10px;
    min-width: 400px;
}

#nav_options {
    background: #502AAC;
    margin: 0;
    width: 220px;
    text-align: right;
    min-width: 84px;
}

#logo {
    float: left;
    color: #8CFF4F;
    width: 220px;
    text-align: right;
    height: 50px;
    padding: 10px;
    padding-right: 20px;
    background: #502AAC;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    letter-spacing: 4px;
}

#spacer {
    height: 50px;
}

.nav_item {
    padding: 10px;
    padding-right: 23px;
}

.nav_item:hover {
    background-color: #AAAAFF;
}

#vote_input {
    width: 250px;
    margin-right: 10px;
    color: black;
}

#top_line {
    min-width: 420px;
}

#vote_button {
    background-color: #AAAAFF;
}

#chat_box {
    width: 400px;
    background-color: white;
    word-wrap: break-word;
}

#chat_input {
    width: 400px;
}

.gray {
    background-color: #EAE8EA;
}